In [1]:
import pandas as pd

In [8]:
covidage = pd.read_csv (r'/Users/abdullahwaraich/Downloads/NCOV_COVID_Cases_by_Age_Group_20210928_0.csv') 
covidage

      diagnosis_date agegroup
0         2020-03-11    20-29
1         2020-03-08    60-69
2         2020-03-09    70-79
3         2020-08-01    30-39
4         2020-03-01    30-39
...              ...      ...
34970     2021-09-27    20-29
34971     2021-09-27    40-49
34972     2021-09-27    20-29
34973     2021-09-27   10-19_
34974     2021-09-27   10-19_

[34975 rows x 2 columns]

In [11]:
covidage.groupby('agegroup').agegroup.count()

agegroup
0-9            3244
10-19_         4572
20-29          8173
30-39          6180
40-49          4219
50-59          3491
60-69          1948
70-79          1170
80-89          1208
90+             768
Age unknown       2
Name: agegroup, dtype: int64